
@import "variables/variables.scss";


body.single-product{
    .woocommerce-product-gallery__image img {
        transition: opacity 0.3s ease-in-out;
    }
    
    div.product-type-variable{

        form.cart.dro-variable-products-form{
            box-shadow: 0px 0px 4px #bebebe;
            padding: 10px 5px;
            margin-top: 10px;
            display:block;
            width: 96%;
            margin: 10px auto 20px;
            // Import Carousel Styles 
            @import "media/carousel.scss";
            // Add To Cart , Total, Reset link
            @import "add-to-cart/add-to-cart";
        }
    }
}