div.dro-pvvp-variation-images-container {
  // border: 1px solid #f00;
  div.dro-pvvp-variation-images-postbox {
    position: relative;
    min-width: 255px;
    border: 1px solid #c3c4c7;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    padding: 0;
    line-height: 1;

    &.closed{
      .dro-pvvp-variation-images-content{
        display: none;
      }
    }
  }
  
  div.dro-pvvp-variation-images-postbox-header {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    button.dro-pvvp-handlediv {
      width: 36px;
      height: 36px;
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      cursor: pointer;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;

      .toggle-indicator {
        color: #787c82;
        &::before{
          content: "\f140";
        }
      }
    }
  }

  .dro-pvvp-variation-images-content{
    border-top: 1px solid #c3c4c7;
    .dro-pvvp-variation-images-grid-container{
      padding: 5px 10px;
      ul.dro-pvvp-variation-images-grid-images{
        zoom: 1;
        margin: 0;
        display: flex;
        &::before{
          content: " ";
          display: table;
        }
        &::after{
          clear: both;
        }
        li{
          float: left;
          list-style: none;
          position: relative;
          cursor: move;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 3px;
          background: none;
          border-radius: 2px;
          border: 3px solid transparent;
          img{
            width: 80px;
            display: block;
            height: auto;
            border: 1px solid #D5D5D5;
          }
          .delete{
            display: none;
            color: #999;
            background: #fff;
            position: absolute;
            right: -5px;
            top: -5px;
            z-index: 1;
            text-decoration: none;
            border-radius: 100%;
          }
        }
      }
    }
    .dro-pvvp-variation-images-add-wrapper{
      display: block;
      padding: 0 13px 10px 13px;

      .dro-pvvp-variation-images-add-image{
        background: #2271b1;
        border-color: #2271b1;
        color: #fff;
        text-decoration: none;
        text-shadow: none;
        display: inline-block;
        font-size: 13px;
        line-height: 2.15384615;
        min-height: 30px;
        margin: 0;
        padding: 0 10px;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        -webkit-appearance: none;
        border-radius: 3px;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }

  }

}


.woo-variation-gallery-wrapper .woo-variation-gallery-postbox.closed .woo-variation-gallery-inside {
  display: none;
}
.woo-variation-gallery-wrapper .woo-variation-gallery-postbox.closed .toggle-indicator::before {
  content: "\f140";
}
